<div class="ui breadcrumb" id="breadcrumb">
  <a class="section" href="{{ getLink('/') }}">{{ __("home")|title }}</a>
  <div class="divider"> / </div>
  {% for item in req.urlComps -%}
    {%- if loop.last -%}
      <div class="active section">{{ item.name}}</div>
    {% else -%}
      <a class="section"
          href="{{ item.link }}">
          {{ item.name }}
        </a>
      <div class="divider"> / </div>
    {% endif -%}
  {%- endfor %}
</div>
