<link rel="stylesheet" href="{{ getAsset('css/forefront.boundle.min.css') }}">
<link id="mainStyle" rel="preload" as="style" href="{{ getAsset('css/boundle.min.css') }}">
<link rel="icon" href="{{ getAsset('favicon.ico') }}">
{%- for item in preload %}
  <link rel="preload" as="{{ item.type }}" href="{{ getAsset(item.file) }}">
{% endfor -%}
<script src="{{ getAsset('/js/boundle/main.boundle.min.js') }}" charset="utf-8" async defer></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>{% include "_parts/_title.njk" %}</title>
