<header id="header">
  <div class="ui container">
    <div class="ui segment basic nomargin flex">
      <a href="{{ getLink('/') }}" class="ui header huge flex" id="title">
        <img src="{{ getFile(logo) }}" class="ui image">
        <div class="content desktop only">
          {%- for line in site_title|default("")|split("\n") -%}
            {%- if loop.first -%}
              {{ line }}
            {%- else -%}
            <small>{{ line }}</small>
            {%- endif -%}
            {%- if not loop.last %}<br>
            {% endif -%}
          {%- endfor -%}
        </div>
        <div class="content mobile only">
          {{- site_shortname -}}
        </div>
      </a>

      <div class="right ui flex header-props">
        <div id="localeSelect" class="ui dropdown labeled icon button black">
          <i class="fas fa-language icon"></i>
          <span class="text">{{ req.locale }}</span>
          <div class="menu">
            {% for locale in locales %}
            <div class="item {% if locale == req.locale %}selected active{% endif %}">
              {{- locale -}}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="header-contact">
          <h2 class="ui sub header">
            {{ __("tel.") }}:
          </h2>
          <span>{{ phone }}</span>
        </div>

        {% for social in socials %}
        <a href="{{ social.link }}" target="_blank"
            class="ui circular {{ social.type }} icon button">
          <i class="fab fa-{{ social.type }} icon"></i>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</header>

{% include "./_nav.njk" %}
