{% macro menu_item(item, level=0) %}
  {% if item.items %}
  <div class="item ui dropdown inverted">
  {% else %}
  <a href="{{ getLink(item.link|default('#')) }}" class="item">
  {% endif %}

    <i class="icon fas fa-fw fa-{{item.icon|default('user-ninja')}}"></i>
    {{ __(item.title)|capitalize }}

    {% if item.items %}
    <i class="icon fas fa-caret-{% if level > 0 %}right{% else %}down{% endif %}"
      style="margin-left: 8px"></i>
    <div class="vertical menu">
      {% for subitem in item.items %}
        {{- menu_item(subitem, level+1) -}}
      {% endfor %}
    </div>
    {% endif %}
  {% if item.items %}
  </div>
  {% else %}
  </a>
  {% endif %}
{% endmacro -%}


<div id="mainnav-wrap">
  <div id="mainnav-controls" class="mobile only ui flex menu inverted attached">
    <img src="{{ getAsset('img/spseit.png') }}"
        class="ui image mini hide mainnav-logo">

    <button class="right ui button basic" id="mainnav-button">
      <i class="fas fa-bars fa-lg"></i>
    </button>
  </div>

  <div id="mainnav-inner">
    <nav class="ui menu item inverted stackable big attached bottom primary"
        id="mainnav">
      {# Menu #}
      {%- for item in menu.main %}{{ menu_item(item) }}{% endfor -%}
      {# /Menu #}
    </nav>
  </div>
</div>
