{%- if not isAJAX -%}
  {%- extends "_root.njk" -%}

{%- elif isTable and tbody -%}
  {% call tbody() %}{% endcall %}

{%- else -%}
{% block main %}
<main id="main" data-title="{% include '_parts/_title.njk' %}"
    data-basepath="{{ getLink('/') }}" data-assetpath="{{ getAsset('/') }}"
    data-iopath="{{ getLink('/socket') }}" data-systemapi="{{ systemAPI }}"
    data-filepath="{{ getFile('')|link }}">
  {% block content_wrap %}
  <div class="ui container">
    {% block content %}
    [No content lol]
    {% endblock content %}
  </div>
  {% endblock content_wrap %}
</main>
{% endblock main %}

{%- endif -%}
