<!DOCTYPE html>
<html lang="{{ lang }}" dir="ltr">
  <head>
    {% include "_parts/_head.njk" %}
  </head>
  <body class="ui">
    <div id="forefrontLoader">
      {{ __("loading")|capitalize }}...
    </div>

    {% block body %}
    {% include "_parts/_header.njk" %}

    {% block main %}{% endblock main %}
    {% endblock body %}

    <script>0</script> {# dummy script for firefox to wait #}
  </body>
</html>
