{% extends "_main.njk" %}

{% set title = __("error")|capitalize %}

{% block content %}
  {% if status == 404 %}
  <strong>{{__("error")|capitalize }} {{ status }}</strong>:
  {{ __("err-not-found")|title }}
  {% else %}
  <strong>{{__("error")|capitalize }} {{ status }}</strong>:
  {{ __(name) }}<br>
  {{ message }}
  {% endif %}
{% endblock content %}
