<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FAQ</title>
  </head>
  <body>

    <div>
      <p style="max-width: 420.69px">
        <strong>PurkyAI</strong> je umělá inteligence naučená odpovídat na často
        kladené otázky. 
        Je to jednoduchá cesta jak najít informace o škole. <br>
        Pokud stále nemůžete najít co hledáte, napište nám na email
        {{ "{{ email }}" }}
      </p>

      <div>
        <div><form id="question">
          <label>Otázka: <input type="text" autocomplete="off"></label>
          <button>Odeslat</button>
        </form></div>
        <div><strong>Odpověď:</strong> <span id="answer"></span></div>
      </div>
    </div>

    {% set faq = [
      [
        "Kdy se konají přijímací zkoušky?",
        "Přijímací zkoušky se konají "+prijimacky
      ],
      [
        "Kde se konají přijímací zkoušky?",
        "Přijímací zkoušky se konají v budově školy, není-li stanoveno jinak."
      ],
      [
        "Jaké obory poskytuje tato škola?",
        "Seznam oborů naleznete na stránce <a href="+obory+">"+obory+"</a>."
      ]
    ] %}

    <dl>
      {% for item in faq %}
      <dt>{{ item[0] }}</dt>
      <dd>{{ item[1]|safe }}</dd>
      {% endfor %}
    </dl>

    <script src="/socket/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" charset="utf-8"></script>
    <script defer>
      const purkyai = io('/purkyai', {
        path: "/socket",
        transports: ['websocket']
      });

      $("#question").submit(function (){
        $("#answer").html("");
        purkyai.send($("input", this).val(), (result)=>{
          $("#answer").text(result.answer);
        });
        return false;
      });
    </script>
  </body>
</html>
