{% extends "_main.njk" %}

{% set title = __("home")|capitalize %}

{% block content_wrap %}
{%- if presentation %}
<div id="main-carousel" class="hide" data-flickity0='{
  "wrapAround": true,
  "autoPlay": 7500,
  "cellSelector": ".carousel-cell"
}'>
  {% if presentation.background %}
  <img src="{{ getFile(presentation.background) }}" class="background">
  {% endif %}

  {% for slide in presentation.slides %}
  <div class="carousel-cell {{ slide.class }}">
    {% if slide.image %}
    <img src="{{ getFile(slide.image) }}">
    {% elseif slide.icon %}
    <i class="icon fas fa-{{ slide.icon }}"></i>
    {% endif %}
    <div class="ui segment vertical basic content">
      <div class="ui container text">
        <h1 class="ui huge header">
          {{ chooseLangVer(slide.title) }}
          {% if slide.subtitle %}
          <span class="sub header">{{ chooseLangVer(slide.subtitle) }}</span>
          {% endif %}
        </h1>
        {% for content in slide.content %}
        <p class="{{ content.class }}">
          {{ chooseLangVer(content.html|default(content.text))|safe }}
        </p>
        {% endfor %}
        {% for button in slide.buttons %}
        <a href="{{ button.link }}" class="ui button spaced {{ button.class }}">
          {{ chooseLangVer(button.text) }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="ui dimmer active" id="main-carousel-loader">
    <div class="ui loader"></div>
  </div>
</div>
{% endif -%}
{{ super() }}
{% endblock content_wrap %}

{% block content %}
<div class="ui segment inverted">
  Here might be some content
</div>
{% endblock content %}
