$midColor: #3C3C3C;
$darkColor: #2C2C2C;
$darkerColor: #151515;
$darkestColor: #050505;
$pgreen: #199F58;
$pred: #E2001A;
$pblue: #003E90;


//
// Semantic options
//
@import "~fomantic-ui-sass/src/variables";

$import-google-fonts: false;
$use-icon: false; // we use own font-awesome
$theme-folder: "..";
$image-path: "#{$theme-folder}/img";
$font-path: "#{$theme-folder}/fonts";

/// Change color theme
// Main
$full-black: white;
$light-black: $darkerColor;
$dark-white: $darkColor;
$mid-white: $midColor;
$off-white: $darkerColor;

$red: $pred;
$green: $pgreen;
$light-green: $pgreen;
$blue: $pblue;

$primary-color: $green;
$primary-background: $primary-color;
$secondary-color: $blue;
$page-background: darken($darkColor, 5);

$solid-border-color: $darkColor;
$solid-white-border-color: $darkestColor;

// Text
$link-color: #5193f4;

$text-color: $inverted-text-color;
$dark-text-color: $inverted-text-color;
$muted-text-color: $inverted-muted-text-color;
$light-text-color: $inverted-light-text-color;

$unselected-text-color: $inverted-unselected-text-color;
$hovered-text-color: $inverted-hovered-text-color;
$pressed-text-color: $inverted-pressed-text-color;
$selected-text-color: $inverted-selected-text-color;
$disabled-text-color: $inverted-disabled-text-color;

// Modal
$modal-header-background: $off-white;
$modal-content-background: $white;
$modal-basic-header-color: $text-color;
$modal-basic-color: $text-color;

// Input
$label-background-color: $midColor;
$input-background: $darkestColor;
$input-color: $text-color;
$input-focus-color: $hovered-text-color;
$input-placeholder-focus-color: $text-color;
$input-transparent-inverted-color: $text-color;

// Menu
$menu-dropdown-active-item-font-weight: $normal;
$menu-secondary-pointing-active-font-weight: $normal;

// Dropdown
$dropdown-menu-background: $off-white;

// Recalculate
@import "~fomantic-ui-sass/src/variables";

//
// Font-awesome options
//
@import "~@fortawesome/fontawesome-free/scss/variables";

$fa-font-path: $font-path;
