@import "_variables";

// Fontawesome
@import
    "~@fortawesome/fontawesome-free/scss/fontawesome",
    "~@fortawesome/fontawesome-free/scss/regular",
    "~@fortawesome/fontawesome-free/scss/solid",
    "~@fortawesome/fontawesome-free/scss/brands";

//
// Overrides
//
.icon.delete{
  @extend .fa;
  @extend .fa-times;
}

//
// Datatables
// display sorting ability
th:not([data-orderable="false"]){
  cursor: pointer;
  &.sorting,&.sorting_asc,&.sorting_desc{
    position: relative;

    &::after {
      @extend %fa-icon;
      @extend .fas;
      opacity: .5;
      content: fa-content($fa-var-sort);
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.sorting_asc::after{
    content: fa-content($fa-var-sort-up);
    opacity: .75;
  }
  &.sorting_desc::after{
    content: fa-content($fa-var-sort-down);
    opacity: .75;
  }
}
