@import "_variables";

body:not(.ready) {
  overflow: hidden;
  #forefrontLoader { opacity: 1; }
}

#forefrontLoader{
  opacity: 0;
  transition: opacity .25s;

  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;

  background-color: $page-background;
  color: $text-color;
  font-family: sans-serif !important;
  font-size: 64px;
}
