@import "_variables";

.ui.flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .right{ margin-left: auto; }
  .left{ margin-right: auto; }
  .center{ @extend .right, .left; }
}

.ui.text.color{ color: $text-color; }
.center.margined{ margin-left: auto !important; margin-right: auto !important; }
.text.centered{ text-align: center; }

.nopadding{ padding: 0 !important; }
.nomargin{ margin: 0 !important; }


@media only screen and (max-width: $computer-breakpoint) {
  [class*="desktop only"] {
    display: none !important;
  }
}
@media only screen and (min-width: $computer-breakpoint) {
  [class*="mobile only"] {
    display: none !important;
  }
}

.code,code{
  display: inline-block;
  padding: 2px 4px;
  margin: 0 1px;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 4px;
}

html,body{
  height: auto;
  scrollbar-width: thin;
  scrollbar-color: lighten($primary-color, 10%) $black;

  &::-webkit-scrollbar { width: 6px; height: 6px; }
  &::-webkit-scrollbar-track { background: $black; }
  &::-webkit-scrollbar-thumb { background: lighten($primary-color, 10%); }
}

// PJAX transition animations
body,main#main{
  background: $page-background !important;
  position: relative;

  // PJAX animations
  &.default{
    opacity: 0;
    transition: opacity .25s ease-in;

    &.shown{
      opacity: 1;
    }
  }

  &.slidedown{
    transform: translateY(-100%);
    transition: transform .5s;

    &.shown{
      transform: translateY(0);
    }
  }

  &.none{
    &.shown{ }
  }
}

/******************/

header#header {
  #title {
    line-height: 1;

    .content {
      flex: 1;
    }

    .image {
      margin: 0 8px 0 0;
    }
  }

  .header-props > :not(:last-child) {
    margin-right: 16px;
  }
}

#mainnav-wrap{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  #mainnav-controls {
    padding: 0 5vw;
  }

  @media only screen and (max-width: $computer-breakpoint) {
    #mainnav-inner {
      position: absolute;
      text-align: left;
      overflow: hidden;
      height: 0;
      width: 100%;
      transition: height .25s;
      &.show{
        height: calc(100vh - 40px);
      }
    }
  }

  .mainnav-logo {
    max-width: unset;
    transition: width .25s;
    &.hide {
      width: 0;
    }
  }

  nav#mainnav {
    display: flex;
    padding: 0 5vw !important;

    & > .item {
      flex: 1;
      width: 100%;
    }

    @media only screen and (max-width: $computer-breakpoint) {
      padding: 0 !important;
    }
  }
}

main#main {
  height: 200vh;
}

/******************/

$main-carousel-height: 420px;
#main-carousel {
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
  height: auto;
  transition: height .25s;

  &.hide {
    height: $main-carousel-height;
  }


  img {
    opacity: 0;
    transition: opacity .25s;
    &.loaded {
      opacity: 1;
    }
  }

  img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max(#{$main-carousel-height}, 100%);
    object-fit: cover;
    z-index: 0;
    filter: blur(.1vmin) contrast(60%) brightness(60%);
    &.loaded {
      opacity: .5;
    }
  }

  .carousel-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: $main-carousel-height;
    width: 100%;
    padding: 16px 48px;
    position: relative;
    z-index: 1;

    &.red { background-color: desaturate($pred, 16); }
    &.green { background-color: desaturate($pgreen, 16); }
    &.blue { background-color: desaturate($pblue, 16); }
    &.pink { background-color: desaturate($pink, 16); }

    & > img:not(.background) {
      max-height: 256px;
      width: auto;
      max-width: 50vw;
      object-fit: contain;
    }

    .icon {
      font-size: 128px;
    }

    .content {
      margin-left: 64px;
      p {
        text-align: justify;
      }

      @media only screen and (max-width: $computer-breakpoint) {
        margin-left: 0;
      }
    }
  }

  &:not(.hide) .flickity-viewport[style*='height'] .carousel-cell {
    min-height: max(#{$main-carousel-height}, 100%);
  }
}
